VITE_APP_NAME=AI Mock Interview Ecosystem
VITE_APP_URL=http://localhost:5173
VITE_API_BASE_URL=http://localhost:5000/api
VITE_GOOGLE_CLIENT_ID=943015007049-nsuiv6dintaaup6i3qr3r32fmk88e4j0.apps.googleusercontent.com